---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background: #007550;
  border-top: none;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #ffffff;
}

@include media-query($on-palm) {
  .site-nav .page-link {
    color: #212121;
  }
}
.site-header a:link, .site-header a:visited {
 background-color: transparent;
color: black;

padding: 0px 0px;
margin: 0px, 0px;
border: 0px, 0px;
text-align: center; 
text-decoration: none;
display: inline-block;
}

.site-header a:hover, .site-header a:active {
background-color: darkseagreen;
} 