---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background: #007550;
  border-top: none;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #ffffff;
}

@include media-query($on-palm) {
  .site-nav .page-link {
    color: #212121;
  }
}

a:link, a:visited {
 background-color: transparent;
color: white;
padding: 14px 25px;
text-align: center; 
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: white;
} 