---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background: #007550;
  border-top: none;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #ffffff;
  padding: 10px, 10px;
  margin: 0px, 0px;
}

.site-nav .page-link :active {
  color: #ffffff;
background-color: darkseagreen;
color: black;

}

@include media-query($on-palm) {
  .site-nav .page-link {
    color: #212121;
  }
}


